@charset "UTF-8";
//========================================================================
$secondary-font-color: #3a3d42 !default;
//========================================================================
.display-bg {
  background: #F3F6FB;
  border: 1px solid rgba(194, 202, 216, 0.4);
  padding: 15px;
  border-radius: 4px;
}
