.demo-container {
  padding: 10px 0 20px 0;
  font-size: 14px;
  height: 100%;
  background: #fff;
  color: #3a3d42;
  section {
    padding: 0 20px 20px 20px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin: 20px 0;
  }
  h3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    margin: 20px 0;
  }
  p {
    margin: 20px 0;
  }
  ul > li {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2;
  }
  .salus-table {
    line-height: 2;
  }
  .title {
    padding-left: 6px;
    border-left: 3px solid #37BC70;
  }
  .demo-example {
    margin: 20px 0;
  }
  .demo-code {
    width: 96%;
    margin: 20px 0;
    background-color: #F3F6FB;
    border: 1px solid #C2CAD8;
    border-radius: 4px;
    .code-inline {
      padding: 10px 10px;
      & > span {
        margin-left: 8px;
      }
      & > :first-child, & > :last-child {
        margin-left: 0;
      }
    }
    .code-title {
      color: #6495ed;
    }
    .code-attr {
      color: #37BC70;
    }
    .code-value {
      color: #d9534f;
    }
  }
}

